.image-5-icon2 {
  position: absolute;
  top: 2268px;
  left: 238px;
  width: 1464.3px;
  height: 399px;
  object-fit: cover;
}
.group-child1,
.group-child2 {
  position: absolute;
  top: 0;
  left: 244px;
  background-color: var(--color-mistyrose-100);
  width: 1464.3px;
  height: 40px;
}
.group-child2 {
  top: 40px;
  background-color: var(--color-lavenderblush);
  height: 47px;
}
.best-seller1,
.collection1,
.gift-guide1,
.offers1,
.shop-all1 {
  position: absolute;
  top: 52px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
  display: inline-block;
}
.shop-all1 {
  left: 592.8px;
  width: 130.2px;
  cursor: pointer;
}
.best-seller1,
.collection1,
.gift-guide1,
.offers1 {
  left: 736.2px;
  width: 100.7px;
}
.best-seller1,
.collection1,
.gift-guide1 {
  left: 878.6px;
  width: 173.9px;
}
.collection1,
.gift-guide1 {
  left: 1068.7px;
  width: 172.9px;
}
.gift-guide1 {
  left: 1257.8px;
  width: 156.6px;
}
.logo-4c148644-c708-4043-a283-e-icon2 {
  position: absolute;
  top: 48px;
  left: 284.7px;
  width: 182px;
  height: 30px;
  object-fit: cover;
}
.off-for-violet1 {
  position: absolute;
  top: 10px;
  left: 772.8px;
  font-size: var(--font-size-sm);
  font-weight: 300;
  font-family: var(--font-kantumruy);
  color: var(--color-dimgray-500);
  display: inline-block;
  width: 660.9px;
  height: 60px;
}
.image-10-icon,
.image-11-icon,
.image-8-icon,
.image-9-icon {
  position: absolute;
  top: 46px;
  left: 1428.7px;
  width: 62px;
  height: 34px;
  object-fit: cover;
}
.image-10-icon,
.image-11-icon,
.image-9-icon {
  top: 47px;
  left: 1490.7px;
  width: 29.5px;
}
.image-10-icon,
.image-11-icon {
  left: 1520.2px;
  width: 51.9px;
  height: 37px;
}
.image-11-icon {
  top: 50px;
  left: 1565.9px;
  width: 53.9px;
  height: 32px;
}
.group-child3 {
  position: absolute;
  height: 100%;
  width: 94.14%;
  top: 0;
  right: 5.86%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-mistyrose-100);
}
.filter1 {
  position: absolute;
  height: 72.65%;
  width: 76.48%;
  top: 27.35%;
  left: 23.52%;
  display: inline-block;
}
.rectangle-parent2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.component-131 {
  position: absolute;
  top: 415px;
  left: 363px;
  width: 153.5px;
  height: 49px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-400);
  font-family: var(--font-kameron);
}
.eyes-1-icon1 {
  position: absolute;
  top: 85px;
  left: 244px;
  width: 1464.3px;
  height: 313px;
  object-fit: cover;
}
.face1,
.swan-baller-embossed {
  position: absolute;
  display: inline-block;
}
.face1 {
  top: 228px;
  left: 914.1px;
  font-size: var(--font-size-45xl);
  color: var(--color-maroon);
  width: 482px;
  height: 140px;
}
.swan-baller-embossed {
  top: 921px;
  left: 394.5px;
  width: 264.4px;
  height: 80px;
}
.little-angel-embrossed {
  margin: 0;
}
.highlighter {
  margin: 0;
  white-space: pre-wrap;
}
.little-angel-embrossed-container {
  position: absolute;
  top: 1528px;
  left: 401.7px;
  display: inline-block;
  width: 264.4px;
  height: 80px;
}
.chocolate-wonder-shop-highligh-container {
  position: absolute;
  top: 2086px;
  left: 369.1px;
  display: inline-block;
  width: 295.9px;
  height: 73px;
}
.blush {
  white-space: pre-wrap;
}
.knitted-bear {
  color: var(--color-gray-300);
}
.chocolate-wonder-shop-embrosse-container,
.unicorn-embrossed-blush,
.violet-stawberry-rococo-container {
  position: absolute;
  top: 2086px;
  left: 670.1px;
  display: inline-block;
  width: 295.9px;
  height: 73px;
}
.unicorn-embrossed-blush,
.violet-stawberry-rococo-container {
  left: 1027px;
}
.violet-stawberry-rococo-container {
  left: 1336.1px;
}
.circus-gradient-blush,
.little-angel-cream,
.moonlight-mermaid-setting-container {
  position: absolute;
  top: 1528px;
  left: 702.6px;
  display: inline-block;
  width: 264.4px;
  height: 80px;
}
.circus-gradient-blush,
.moonlight-mermaid-setting-container {
  left: 1021.9px;
}
.moonlight-mermaid-setting-container {
  left: 1362.6px;
}
.moonlight-mermaid-jewelry1,
.strawberry-rococo-embossed,
.swan-baller-music-container {
  position: absolute;
  top: 921px;
  left: 691.5px;
  display: inline-block;
  width: 264.4px;
  height: 80px;
}
.strawberry-rococo-embossed,
.swan-baller-music-container {
  left: 1008.7px;
}
.swan-baller-music-container {
  left: 1326px;
}
.group-child4 {
  position: absolute;
  top: 974px;
  left: 764.7px;
  width: 14.2px;
  height: 14px;
}
.group-child5,
.group-child6,
.group-child7,
.group-child8 {
  position: absolute;
  top: 974px;
  left: 1081.9px;
  width: 14.2px;
  height: 14px;
}
.group-child6,
.group-child7,
.group-child8 {
  left: 1399.2px;
}
.group-child7,
.group-child8 {
  left: 447.4px;
}
.group-child8 {
  top: 1594px;
  left: 442.3px;
}
.group-child10,
.group-child11,
.group-child12,
.group-child9 {
  position: absolute;
  top: 2159px;
  left: 447.4px;
  width: 14.2px;
  height: 14px;
}
.group-child10,
.group-child11,
.group-child12 {
  left: 748.4px;
}
.group-child11,
.group-child12 {
  left: 1078.9px;
}
.group-child12 {
  left: 1388px;
}
.group-child13,
.group-child14,
.group-child15 {
  position: absolute;
  top: 1594px;
  left: 743.3px;
  width: 14.2px;
  height: 14px;
}
.group-child14,
.group-child15 {
  left: 1062.6px;
}
.group-child15 {
  left: 1403.2px;
}
.group-child16,
.group-child17,
.group-child18,
.group-child19 {
  position: absolute;
  top: 974px;
  left: 829.7px;
  width: 14.2px;
  height: 14px;
}
.group-child17,
.group-child18,
.group-child19 {
  left: 1147px;
}
.group-child18,
.group-child19 {
  left: 1464.3px;
}
.group-child19 {
  left: 780.9px;
}
.group-child20,
.group-child21,
.group-child22,
.group-child23 {
  position: absolute;
  top: 974px;
  left: 1098.2px;
  width: 14.2px;
  height: 14px;
}
.group-child21,
.group-child22,
.group-child23 {
  left: 1415.4px;
}
.group-child22,
.group-child23 {
  left: 512.5px;
}
.group-child23 {
  top: 1594px;
  left: 507.4px;
}
.group-child24,
.group-child25,
.group-child26,
.group-child27 {
  position: absolute;
  top: 2159px;
  left: 512.5px;
  width: 14.2px;
  height: 14px;
}
.group-child25,
.group-child26,
.group-child27 {
  left: 813.5px;
}
.group-child26,
.group-child27 {
  left: 1143.9px;
}
.group-child27 {
  left: 1453.1px;
}
.group-child28,
.group-child29,
.group-child30 {
  position: absolute;
  top: 1594px;
  left: 808.4px;
  width: 14.2px;
  height: 14px;
}
.group-child29,
.group-child30 {
  left: 1127.7px;
}
.group-child30 {
  left: 1468.3px;
}
.group-child31,
.group-child32,
.group-child33,
.group-child34 {
  position: absolute;
  top: 974px;
  left: 797.2px;
  width: 14.2px;
  height: 14px;
}
.group-child32,
.group-child33,
.group-child34 {
  left: 1114.5px;
}
.group-child33,
.group-child34 {
  left: 1431.7px;
}
.group-child34 {
  left: 813.5px;
}
.group-child35,
.group-child36,
.group-child37,
.group-child38 {
  position: absolute;
  top: 974px;
  left: 1130.7px;
  width: 14.2px;
  height: 14px;
}
.group-child36,
.group-child37,
.group-child38 {
  left: 1448px;
}
.group-child37,
.group-child38 {
  left: 463.7px;
}
.group-child38 {
  top: 1594px;
  left: 458.6px;
}
.group-child39,
.group-child40,
.group-child41,
.group-child42 {
  position: absolute;
  top: 2159px;
  left: 463.7px;
  width: 14.2px;
  height: 14px;
}
.group-child40,
.group-child41,
.group-child42 {
  left: 764.7px;
}
.group-child41,
.group-child42 {
  left: 1095.1px;
}
.group-child42 {
  left: 1404.3px;
}
.group-child43,
.group-child44,
.group-child45 {
  position: absolute;
  top: 1594px;
  left: 759.6px;
  width: 14.2px;
  height: 14px;
}
.group-child44,
.group-child45 {
  left: 1078.9px;
}
.group-child45 {
  left: 1419.5px;
}
.div13,
.div14,
.div15 {
  position: absolute;
  top: 950px;
  left: 761.6px;
  font-family: var(--font-kameron);
  display: inline-block;
  width: 104.7px;
  height: 48px;
}
.div14,
.div15 {
  left: 1078.9px;
}
.div15 {
  left: 1396.1px;
}
.group-child46,
.group-child47,
.group-child48 {
  position: absolute;
  top: 974px;
  left: 479.9px;
  width: 14.2px;
  height: 14px;
}
.group-child47,
.group-child48 {
  top: 1594px;
  left: 474.9px;
}
.group-child48 {
  top: 2159px;
  left: 479.9px;
}
.group-child49,
.group-child50,
.group-child51,
.group-child52 {
  position: absolute;
  top: 2159px;
  left: 780.9px;
  width: 14.2px;
  height: 14px;
}
.group-child50,
.group-child51,
.group-child52 {
  left: 1111.4px;
}
.group-child51,
.group-child52 {
  left: 1420.5px;
}
.group-child52 {
  top: 1594px;
  left: 775.9px;
}
.group-child53,
.group-child54,
.group-child55,
.group-child56 {
  position: absolute;
  top: 1594px;
  left: 1095.1px;
  width: 14.2px;
  height: 14px;
}
.group-child54,
.group-child55,
.group-child56 {
  left: 1435.8px;
}
.group-child55,
.group-child56 {
  top: 974px;
  left: 496.2px;
}
.group-child56 {
  top: 1594px;
  left: 491.1px;
}
.group-child57,
.group-child58,
.group-child59,
.group-child60 {
  position: absolute;
  top: 2159px;
  left: 496.2px;
  width: 14.2px;
  height: 14px;
}
.group-child58,
.group-child59,
.group-child60 {
  left: 797.2px;
}
.group-child59,
.group-child60 {
  left: 1127.7px;
}
.group-child60 {
  left: 1436.8px;
}
.group-child61,
.group-child62,
.group-child63 {
  position: absolute;
  top: 1594px;
  left: 792.1px;
  width: 14.2px;
  height: 14px;
}
.group-child62,
.group-child63 {
  left: 1111.4px;
}
.group-child63 {
  left: 1452.1px;
}
.div16,
.div17,
.div18,
.div19,
.div20,
.div21,
.div22,
.div23,
.div24 {
  position: absolute;
  top: 950px;
  left: 444.4px;
  font-family: var(--font-kameron);
  display: inline-block;
  width: 104.7px;
  height: 48px;
}
.div17,
.div18,
.div19,
.div20,
.div21,
.div22,
.div23,
.div24 {
  top: 1570px;
  left: 439.3px;
}
.div18,
.div19,
.div20,
.div21,
.div22,
.div23,
.div24 {
  top: 2135px;
  left: 444.4px;
}
.div19,
.div20,
.div21,
.div22,
.div23,
.div24 {
  left: 1081.9px;
}
.div20,
.div21,
.div22,
.div23,
.div24 {
  left: 1391px;
}
.div21,
.div22,
.div23,
.div24 {
  left: 762.6px;
}
.div22,
.div23,
.div24 {
  top: 1570px;
  left: 740.3px;
}
.div23,
.div24 {
  left: 1059.5px;
}
.div24 {
  left: 1400.2px;
}
.group-child64 {
  position: absolute;
  top: 1000px;
  left: 411.8px;
  border-radius: 50%;
  background-color: #edd8cd;
  width: 15.3px;
  height: 15px;
}
.group-child65,
.group-child66,
.group-child67,
.group-child68,
.group-child69 {
  position: absolute;
  top: 1620px;
  left: 406.7px;
  border-radius: 50%;
  width: 15.3px;
  height: 15px;
  object-fit: cover;
}
.group-child66,
.group-child67,
.group-child68,
.group-child69 {
  left: 707.7px;
}
.group-child67,
.group-child68,
.group-child69 {
  top: 2185px;
}
.group-child68,
.group-child69 {
  left: 1038.2px;
}
.group-child69 {
  left: 1347.3px;
}
.group-child70 {
  top: 1620px;
  left: 1388px;
  object-fit: cover;
}
.group-child70,
.group-child71,
.group-child72 {
  position: absolute;
  border-radius: 50%;
  width: 15.3px;
  height: 15px;
}
.group-child71 {
  top: 1620px;
  left: 1408.3px;
  object-fit: cover;
}
.group-child72 {
  top: 1000px;
  left: 432.2px;
  background-color: #e7b8b4;
}
.group-child73,
.group-child74,
.group-child75,
.group-child76 {
  position: absolute;
  top: 1620px;
  border-radius: 50%;
  width: 15.3px;
  height: 15px;
}
.group-child73 {
  left: 427.1px;
  object-fit: cover;
}
.group-child74,
.group-child75,
.group-child76 {
  left: 728.1px;
  background-color: #d07e7e;
}
.group-child75,
.group-child76 {
  top: 2185px;
  background-color: #cfa18c;
}
.group-child76 {
  left: 1058.5px;
  background-color: #e8b6b3;
}
.group-child77 {
  top: 2185px;
  left: 1367.7px;
  background-color: #e892ad;
}
.group-child77,
.group-child78,
.group-child79,
.group-child80 {
  position: absolute;
  border-radius: 50%;
  width: 15.3px;
  height: 15px;
}
.group-child78 {
  top: 1000px;
  left: 452.5px;
  background-color: #e4b1c4;
}
.group-child79,
.group-child80 {
  top: 1620px;
}
.group-child79 {
  left: 447.4px;
  object-fit: cover;
}
.group-child80 {
  left: 748.4px;
  background-color: #da9482;
}
.group-child81 {
  top: 2185px;
  left: 748.4px;
  background-color: #d19283;
}
.group-child81,
.group-child82,
.group-child83 {
  position: absolute;
  border-radius: 50%;
  width: 15.3px;
  height: 15px;
}
.group-child82 {
  top: 1000px;
  left: 472.8px;
  background-color: #e8b0a1;
}
.group-child83 {
  top: 1620px;
  left: 467.7px;
  object-fit: cover;
}
.group-child84,
.group-child85,
.group-child86,
.group-child87 {
  position: absolute;
  top: 1620px;
  left: 768.7px;
  border-radius: 50%;
  background-color: #c7978e;
  width: 15.3px;
  height: 15px;
}
.group-child85,
.group-child86,
.group-child87 {
  top: 2185px;
  background-color: #ba8b7d;
}
.group-child86,
.group-child87 {
  top: 1000px;
  left: 493.2px;
  background-color: #f0afa5;
}
.group-child87 {
  top: 1620px;
  left: 789.1px;
  background-color: #c08d77;
}
.group-child88,
.group-child89,
.group-child90,
.group-child91,
.group-child92 {
  position: absolute;
  top: 1000px;
  left: 746.4px;
  border-radius: 50%;
  width: 15.3px;
  height: 15px;
  object-fit: cover;
}
.group-child89,
.group-child90,
.group-child91,
.group-child92 {
  left: 1063.6px;
}
.group-child90,
.group-child91,
.group-child92 {
  left: 1380.9px;
}
.group-child91,
.group-child92 {
  left: 766.7px;
}
.group-child92 {
  left: 1084px;
}
.group-child93,
.group-child94,
.group-child95,
.group-child96,
.group-child97,
.group-child98 {
  position: absolute;
  top: 1000px;
  left: 1401.2px;
  border-radius: 50%;
  width: 15.3px;
  height: 15px;
  object-fit: cover;
}
.group-child94,
.group-child95,
.group-child96,
.group-child97,
.group-child98 {
  left: 787px;
}
.group-child95,
.group-child96,
.group-child97,
.group-child98 {
  left: 1104.3px;
}
.group-child96,
.group-child97,
.group-child98 {
  left: 1421.5px;
}
.group-child97,
.group-child98 {
  left: 807.4px;
}
.group-child98 {
  left: 827.7px;
}
.image-18,
.image-5-parent {
  position: absolute;
  top: 2282px;
  left: 0;
  width: 1932px;
  height: 250px;
}
.image-5-parent {
  top: 0;
  left: -246px;
  height: 2667px;
}
.component-17-icon,
.component-18-icon,
.component-19-icon,
.component-20-icon {
  position: absolute;
  top: 510px;
  left: 97px;
  width: 300px;
  height: 380px;
  object-fit: cover;
}
.component-18-icon,
.component-19-icon,
.component-20-icon {
  left: 413px;
}
.component-19-icon,
.component-20-icon {
  left: 732px;
}
.component-20-icon {
  left: 1051px;
}
.component-21-icon,
.component-22-icon,
.component-23-icon,
.component-24-icon {
  position: absolute;
  top: 1125px;
  left: 79px;
  width: 300px;
  height: 380px;
  object-fit: cover;
}
.component-22-icon,
.component-23-icon,
.component-24-icon {
  left: 402px;
}
.component-23-icon,
.component-24-icon {
  left: 720px;
}
.component-24-icon {
  left: 1050px;
}
.component-25-icon,
.component-26-icon,
.component-27-icon,
.component-28-icon {
  position: absolute;
  top: 1690px;
  left: 86px;
  width: 300px;
  height: 380px;
  object-fit: cover;
}
.component-26-icon,
.component-27-icon,
.component-28-icon {
  left: 405px;
}
.component-27-icon,
.component-28-icon {
  left: 724px;
}
.component-28-icon {
  left: 1050px;
}
.component-49-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.image-13-icon1,
.sort-by1 {
  position: absolute;
  top: 33.4%;
}
.sort-by1 {
  height: 50%;
  width: 37.51%;
  left: 10.84%;
  display: inline-block;
}
.image-13-icon1 {
  height: 41.7%;
  width: 8.88%;
  right: 5.02%;
  bottom: 24.91%;
  left: 86.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-511 {
  position: absolute;
  top: 413px;
  left: 273px;
  width: 321px;
  height: 53px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-400);
  font-family: var(--font-kameron);
}
.face {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2667px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-judson);
}
