.sn-phm-child {
  top: 0;
  background-color: var(--color-mistyrose-100);
  width: 1440px;
  height: 40px;
}
.shop-all,
.sn-phm-child,
.sn-phm-item {
  position: absolute;
  left: 0;
}
.sn-phm-item {
  top: 40px;
  background-color: var(--color-lavenderblush);
  width: 1440px;
  height: 47px;
}
.shop-all {
  top: 0;
  display: inline-block;
  width: 128px;
}
.best-seller,
.collection,
.gift-guide,
.offers {
  position: absolute;
  top: 0;
  left: 141px;
  display: inline-block;
  width: 99px;
}
.best-seller,
.collection,
.gift-guide {
  left: 281px;
  width: 171px;
}
.collection,
.gift-guide {
  left: 468px;
  width: 170px;
}
.gift-guide {
  left: 654px;
  width: 154px;
}
.shop-all-parent {
  position: absolute;
  top: 52px;
  left: 343px;
  width: 808px;
  height: 23px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
}
.logo-4c148644-c708-4043-a283-e-icon1 {
  position: absolute;
  top: 48px;
  left: 40px;
  width: 179px;
  height: 30px;
  object-fit: cover;
}
.off-for-violet {
  position: absolute;
  top: 10px;
  left: 520px;
  font-size: var(--font-size-sm);
  font-weight: 300;
  font-family: var(--font-kantumruy);
  color: var(--color-dimgray-500);
  display: inline-block;
  width: 650px;
  height: 60px;
}
.group-icon {
  object-fit: cover;
}
.group-icon,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
}
.sn-phm-child1,
.sn-phm-child2,
.sn-phm-inner {
  position: absolute;
  top: 44px;
  left: 1182px;
  width: 35px;
  height: 35px;
}
.sn-phm-child1,
.sn-phm-child2 {
  left: 1223px;
  object-fit: cover;
}
.sn-phm-child2 {
  top: 46px;
  left: 1264px;
}
.swan-baller-six-color1 {
  white-space: pre-wrap;
}
.b1 {
  font-family: var(--font-judson);
}
.span3 {
  color: var(--color-silver-200);
}
.span4 {
  color: var(--color-black);
}
.swan-baller-six-color-container1 {
  position: absolute;
  top: 890px;
  left: 98px;
  display: inline-block;
  width: 260px;
  height: 80px;
}
.eyeshadow-palette {
  margin: 0;
  white-space: pre-wrap;
}
.strawberry-rococo-5-container {
  position: absolute;
  top: 1470px;
  left: 110px;
  display: inline-block;
  width: 260px;
  height: 80px;
}
.little-angel-9-color {
  margin: 0;
}
.little-angel-9-color-container {
  position: absolute;
  top: 1470px;
  left: 435px;
  display: inline-block;
  width: 260px;
  height: 80px;
}
.chocolate-wonder-shop-eight-container,
.chocolate-wonder-shop-mascara-container {
  position: absolute;
  top: 1470px;
  left: 760px;
  display: inline-block;
  width: 260px;
  height: 80px;
}
.chocolate-wonder-shop-eight-container {
  left: 1090px;
}
.sn-phm-child3,
.sn-phm-child4 {
  position: absolute;
  top: 958px;
  left: 161px;
  width: 14px;
  height: 14px;
}
.sn-phm-child4 {
  top: 1538px;
  left: 173px;
}
.sn-phm-child5,
.sn-phm-child6,
.sn-phm-child7,
.sn-phm-child8 {
  position: absolute;
  top: 1538px;
  left: 498px;
  width: 14px;
  height: 14px;
}
.sn-phm-child6,
.sn-phm-child7,
.sn-phm-child8 {
  left: 823px;
}
.sn-phm-child7,
.sn-phm-child8 {
  left: 1153px;
}
.sn-phm-child8 {
  top: 958px;
  left: 225px;
}
.sn-phm-child10,
.sn-phm-child11,
.sn-phm-child12,
.sn-phm-child9 {
  position: absolute;
  top: 1538px;
  left: 237px;
  width: 14px;
  height: 14px;
}
.sn-phm-child10,
.sn-phm-child11,
.sn-phm-child12 {
  left: 562px;
}
.sn-phm-child11,
.sn-phm-child12 {
  left: 887px;
}
.sn-phm-child12 {
  left: 1217px;
}
.sn-phm-child13,
.sn-phm-child14,
.sn-phm-child15 {
  position: absolute;
  top: 958px;
  left: 177px;
  width: 14px;
  height: 14px;
}
.sn-phm-child14,
.sn-phm-child15 {
  top: 1538px;
  left: 189px;
}
.sn-phm-child15 {
  left: 514px;
}
.sn-phm-child16,
.sn-phm-child17,
.sn-phm-child18,
.sn-phm-child19 {
  position: absolute;
  top: 1538px;
  left: 839px;
  width: 14px;
  height: 14px;
}
.sn-phm-child17,
.sn-phm-child18,
.sn-phm-child19 {
  left: 1169px;
}
.sn-phm-child18,
.sn-phm-child19 {
  top: 958px;
  left: 193px;
}
.sn-phm-child19 {
  top: 1538px;
  left: 205px;
}
.sn-phm-child20,
.sn-phm-child21,
.sn-phm-child22,
.sn-phm-child23 {
  position: absolute;
  top: 1538px;
  left: 530px;
  width: 14px;
  height: 14px;
}
.sn-phm-child21,
.sn-phm-child22,
.sn-phm-child23 {
  left: 855px;
}
.sn-phm-child22,
.sn-phm-child23 {
  left: 1185px;
}
.sn-phm-child23 {
  top: 958px;
  left: 209px;
}
.sn-phm-child24,
.sn-phm-child25,
.sn-phm-child26,
.sn-phm-child27 {
  position: absolute;
  top: 1538px;
  left: 221px;
  width: 14px;
  height: 14px;
}
.sn-phm-child25,
.sn-phm-child26,
.sn-phm-child27 {
  left: 546px;
}
.sn-phm-child26,
.sn-phm-child27 {
  left: 871px;
}
.sn-phm-child27 {
  left: 1201px;
}
.div5,
.div6,
.div7,
.div8,
.div9 {
  position: absolute;
  top: 937px;
  left: 162px;
  font-family: var(--font-kameron);
  display: inline-block;
  width: 103px;
  height: 48px;
}
.div6,
.div7,
.div8,
.div9 {
  top: 1517px;
  left: 174px;
}
.div7,
.div8,
.div9 {
  left: 499px;
}
.div8,
.div9 {
  left: 824px;
}
.div9 {
  left: 1154px;
}
.sn-phm-child28 {
  position: absolute;
  top: 985px;
  left: 113px;
  border-radius: 50%;
  background-color: var(--color-linen);
  width: 15px;
  height: 15px;
}
.sn-phm-child29 {
  top: 1565px;
  left: 125px;
  background-color: #e6d9d2;
}
.sn-phm-child29,
.sn-phm-child30,
.sn-phm-child31 {
  position: absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.sn-phm-child30 {
  top: 1565px;
  left: 450px;
  background-color: #e9e3dc;
}
.sn-phm-child31 {
  top: 985px;
  left: 133px;
  background-color: var(--color-gray-500);
}
.sn-phm-child32 {
  left: 145px;
  background-color: var(--color-brown-100);
}
.sn-phm-child32,
.sn-phm-child33,
.sn-phm-child34,
.sn-phm-child35 {
  position: absolute;
  top: 1565px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.sn-phm-child33 {
  left: 470px;
  background-color: #171719;
}
.sn-phm-child34,
.sn-phm-child35 {
  left: 795px;
  background-color: var(--color-brown-100);
}
.sn-phm-child35 {
  top: 985px;
  left: 153px;
  background-color: var(--color-mistyrose-200);
}
.sn-phm-child36 {
  left: 165px;
  background-color: var(--color-silver-100);
}
.ellipse-icon,
.sn-phm-child36,
.sn-phm-child37 {
  position: absolute;
  top: 1565px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.sn-phm-child37 {
  left: 815px;
  background-color: var(--color-silver-100);
}
.ellipse-icon {
  left: 1095px;
  object-fit: cover;
}
.sn-phm-child38 {
  left: 185px;
  background-color: var(--color-lightgray);
}
.sn-phm-child38,
.sn-phm-child39,
.sn-phm-child40,
.sn-phm-child41 {
  position: absolute;
  top: 1565px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.sn-phm-child39 {
  left: 835px;
  background-color: var(--color-lightgray);
}
.sn-phm-child40,
.sn-phm-child41 {
  left: 1115px;
  object-fit: cover;
}
.sn-phm-child41 {
  left: 1135px;
}
.moonlight-mermaid-five-container1 {
  position: absolute;
  top: 890px;
  left: 412px;
  display: inline-block;
  width: 287px;
  height: 80px;
}
.perfect-blossom {
  margin: 0;
  color: var(--color-silver-200);
}
.moonlight-mermaid-eyeliner,
.swan-ballet-liquuid-container {
  position: absolute;
  top: 890px;
  left: 745px;
  display: inline-block;
  width: 287px;
  height: 80px;
}
.moonlight-mermaid-eyeliner {
  left: 1077px;
  height: 96px;
}
.sn-phm-child42,
.sn-phm-child43,
.sn-phm-child44 {
  position: absolute;
  top: 959px;
  left: 472px;
  width: 14px;
  height: 14px;
}
.sn-phm-child43,
.sn-phm-child44 {
  left: 805px;
}
.sn-phm-child44 {
  left: 1137px;
}
.sn-phm-child45,
.sn-phm-child46,
.sn-phm-child47,
.sn-phm-child48 {
  position: absolute;
  top: 959px;
  left: 536px;
  width: 14px;
  height: 14px;
}
.sn-phm-child46,
.sn-phm-child47,
.sn-phm-child48 {
  left: 869px;
}
.sn-phm-child47,
.sn-phm-child48 {
  left: 1201px;
}
.sn-phm-child48 {
  left: 488px;
}
.sn-phm-child49,
.sn-phm-child50,
.sn-phm-child51,
.sn-phm-child52 {
  position: absolute;
  top: 959px;
  left: 821px;
  width: 14px;
  height: 14px;
}
.sn-phm-child50,
.sn-phm-child51,
.sn-phm-child52 {
  left: 1153px;
}
.sn-phm-child51,
.sn-phm-child52 {
  left: 504px;
}
.sn-phm-child52 {
  left: 837px;
}
.sn-phm-child53,
.sn-phm-child54,
.sn-phm-child55,
.sn-phm-child56 {
  position: absolute;
  top: 959px;
  left: 1169px;
  width: 14px;
  height: 14px;
}
.sn-phm-child54,
.sn-phm-child55,
.sn-phm-child56 {
  left: 520px;
}
.sn-phm-child55,
.sn-phm-child56 {
  left: 853px;
}
.sn-phm-child56 {
  left: 1185px;
}
.div10,
.div11,
.div12 {
  position: absolute;
  top: 938px;
  left: 473px;
  font-family: var(--font-kameron);
  display: inline-block;
  width: 103px;
  height: 48px;
}
.div11,
.div12 {
  left: 806px;
}
.div12 {
  left: 1138px;
}
.sn-phm-child57,
.sn-phm-child58,
.sn-phm-child59 {
  position: absolute;
  top: 986px;
  left: 435px;
  border-radius: 50%;
  background-color: var(--color-steelblue);
  width: 15px;
  height: 15px;
}
.sn-phm-child58,
.sn-phm-child59 {
  left: 768px;
}
.sn-phm-child59 {
  left: 1100px;
  background-color: var(--color-black);
}
.sn-phm-child60 {
  left: 455px;
  background-color: var(--color-pink-100);
}
.sn-phm-child60,
.sn-phm-child61,
.sn-phm-child62 {
  position: absolute;
  top: 986px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.sn-phm-child61 {
  left: 788px;
  background-color: var(--color-pink-100);
}
.sn-phm-child62 {
  left: 1120px;
  background-color: #724f48;
}
.sn-phm-child63 {
  left: 475px;
  background-color: var(--color-pink-200);
}
.sn-phm-child63,
.sn-phm-child64,
.sn-phm-child65 {
  position: absolute;
  top: 986px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.sn-phm-child64 {
  left: 808px;
  background-color: var(--color-pink-200);
}
.sn-phm-child65 {
  left: 1140px;
  background-color: #e2b7c3;
}
.sn-phm-child66,
.sn-phm-child67,
.sn-phm-child68,
.sn-phm-child69 {
  position: absolute;
  top: 986px;
  left: 495px;
  border-radius: 50%;
  background-color: var(--color-lightslategray-100);
  width: 15px;
  height: 15px;
}
.sn-phm-child67,
.sn-phm-child68,
.sn-phm-child69 {
  left: 828px;
}
.sn-phm-child68,
.sn-phm-child69 {
  left: 515px;
  background-color: var(--color-lightslategray-200);
}
.sn-phm-child69 {
  left: 848px;
}
.eyes-1-icon,
.image-5-icon1 {
  position: absolute;
  top: 1661px;
  left: 0;
  width: 1440px;
  height: 399px;
  object-fit: cover;
}
.eyes-1-icon {
  top: 87px;
  left: -1px;
  width: 1453px;
  height: 313px;
}
.eyes {
  position: absolute;
  top: 230px;
  left: 659px;
  font-size: var(--font-size-45xl);
  display: inline-block;
  color: var(--color-maroon);
  width: 474px;
  height: 140px;
}
.component-31-icon {
  position: absolute;
  top: 494px;
  left: 392px;
  width: 307px;
  height: 380px;
  object-fit: cover;
}
.component-32-icon,
.component-32-wrapper {
  position: absolute;
  width: 306px;
  height: 380px;
}
.component-32-icon {
  top: 0;
  left: 0;
  object-fit: cover;
}
.component-32-wrapper {
  top: 494px;
  left: 716px;
  cursor: pointer;
}
.component-33-icon,
.component-36-icon {
  position: absolute;
  top: 494px;
  left: 1044px;
  width: 306px;
  height: 380px;
  object-fit: cover;
}
.component-36-icon {
  top: 1064px;
  left: 66px;
  width: 295px;
}
.component-37-icon,
.component-38-icon,
.component-39-icon {
  position: absolute;
  top: 1069px;
  left: 389px;
  width: 306px;
  height: 380px;
  object-fit: cover;
}
.component-38-icon,
.component-39-icon {
  left: 716px;
}
.component-39-icon {
  top: 1070px;
  left: 1043px;
}
.rectangle-div {
  position: absolute;
  height: 100%;
  width: 94.11%;
  top: 0;
  right: 5.89%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-mistyrose-100);
}
.filter {
  position: absolute;
  height: 72.65%;
  width: 76.49%;
  top: 27.35%;
  left: 23.51%;
  display: inline-block;
}
.component-13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.component-48 {
  position: absolute;
  top: 431px;
  left: 110px;
  width: 151px;
  height: 49px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-400);
  font-family: var(--font-kameron);
}
.component-49-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.image-13-icon,
.sort-by {
  position: absolute;
  top: 33.4%;
}
.sort-by {
  height: 50%;
  width: 37.51%;
  left: 10.84%;
  display: inline-block;
}
.image-13-icon {
  height: 41.7%;
  width: 8.88%;
  right: 5.02%;
  bottom: 24.91%;
  left: 86.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-51 {
  position: absolute;
  top: 427px;
  left: 260px;
  width: 321px;
  height: 53px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-400);
  font-family: var(--font-kameron);
}
.component-52-icon {
  position: absolute;
  top: 497px;
  left: 63px;
  width: 307px;
  height: 380px;
  object-fit: cover;
}
.sn-phm {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2060px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-judson);
}
